<h1>Ask Your Coach a Question</h1>

<form action="/answer" method="get" data-turbo="false">
  <label for="question">Your Question:</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>

<%# <h1>Ask your question</h1>
<form action="/answer" method="get">
  <label for="question">Your Question:</label>
  <input type="text" id="question" name="question">
  <button type="submit">Ask</button>
</form> %>
